    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Mypetfindr</h1>
            <h3>Let Us Connect Lost Pets With Owners</h3>
            <br>
            <!-- <a href="/pets/new?status=lost" class="btn btn-dark btn-lg">Lost A Pet?</a>
            <a href="/pets/new?status=found" class="btn btn-dark btn-lg">Found A Pet?</a> -->
        </div>
    </header>
      
  <%= form_tag '/pets/search', method: :post do %>
  <div>
  <%= label_tag :search %>
    <%= text_field_tag :search %>
  </div>

  <div>
    <%= hidden_field_tag :status, params[:status] %>
  </div>

  <div>
    <%= submit_tag "Search" %>
  </div>
<% end %>
     
       
        
           <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>All <%= params[:status].capitalize %> Pets</h2>
                    <hr class="small">
                    <div class="row">
                     <% @pets.each do |pet| %>
                        <div class="col-md-6">
                       
                                <a href="/pets/<%= pet.id %>">
                            <div class="portfolio-item boring_border">
                                  <p>Name: <%= pet.name %></p> 
                                  <p>Animal Type: <%= pet.animal %></p> 
                                  <p>Breed of Pet: <%= pet.breed %></p> 
                                  <p>Color: <%= pet.color %></p> 
                                  <p>Size of Pet: <%= pet.size %></p> 
                                  <p>Weight: <%= pet.weight %></p> 
                                  <p>Micro Chip? <%= pet.micro_chip %></p> 
                                  <p>Description: <%= pet.description %></p> 
                                  <p><%= pet.image %></p>
                                  <p>Submitted by: <%= pet.user.email %></p>
                                 
                                     
                            </div>
                                </a>
                           
                        </div>
                         <% end %>  
                       
                    </div>
                    <!-- /.row (nested) -->
                    <a href="/pets/?status=found" class="btn btn-dark">Search Found Pets</a>
                    <a href="/pets/?status=lost" class="btn btn-dark">Search Lost Pets</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>