
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">


    <h2>Create a post for your <%= @status %> pet</h2>
    <%= form_for @pet, url: pets_path(status: @status), :html => {:multipart => true} do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :animal %>
      <%= f.text_field :animal, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :breed %>
      <%= f.text_field :breed, class: "form-control" %>
    </div>

    <div class="form-group">
     <%= f.label :color %>
      <%= f.text_field :color, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :size %>
      <%= f.text_field :size, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :weight %> (Can be approx.)
      <%= f.text_field :weight, class: "form-control" %>
    </div>

    <div class="checkbox">
      <%= f.check_box :micro_chip %>
      <%= f.label :micro_chip %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :location %>
      <%= f.text_area :location, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :pet_images %>
      <%= f.file_field :pet_images, multiple: true, class: "form-control" %>
    </div>
    <br>
    <div class="form-group">
      <%= f.submit "Click Here To Submit Your Pet Ad", class: "btn btn-default"%>
    </div>

    <% end %>
  </div>
</div>
