<h2>Create a post for your <%= @status %> pet</h2>
<%= form_for @pet, url: pets_path(status: @status) do |f| %>

<div>
 <h3> <%= f.label :name %></h3>
  <%= f.text_field :name %>
</div>

<div>
 <h3> <%= f.label :animal %></h3>
  <%= f.text_field :animal %>
</div>

<div>
  <h3><%= f.label :breed %></h3>
  <%= f.text_field :breed %>
</div>

<div>
 <h3><%= f.label :color %></h3>
  <%= f.text_field :color %>
</div>

<div>
  <h3><%= f.label :size %></h3>
  <%= f.text_field :size %>
</div>

<div>
  <h3><%= f.label :weight %> (Can be approx.)</h3>
  <%= f.text_field :weight %>
</div>

<div>
  <h3><%= f.label :micro_chip %></h3>
  <%= f.check_box :micro_chip %>
</div>

<div>
  <h3><%= f.label :description %></h3>
  <%= f.text_area :description %>
</div>

<div>
  <h3><%= f.label :image %></h3>
  <%= f.text_field :image %>
</div>
<br>
<div>
  <%= f.submit "Click Here To Submit Your Lost Pet Ad" %>
</div>

<% end %>
