<!-- <table>
<tr>
<td>Pet's name: <%= @pet.name %></td>
<td>Type of animal: <%= @pet.animal %></td>
<td>Breed of pet: <%= @pet.breed %></td>
<td>Size: <%= @pet.size %></td>
<td>Weight: <%= @pet.weight %></td>
<td>Microchip? <%= @pet.micro_chip %></td>
<td>Description: <%= @pet.description %></td>
<td>Image: <%= @pet.image %></td>
</tr>
</table> -->





<p>Pet's name: <%= @pet.name %></p>
<p>Type of animal: <%= @pet.animal %></p>
<p>Breed of pet: <%= @pet.breed %></p>
<p>Size: <%= @pet.size %></p>
<p>Weight: <%= @pet.weight %></p>
<p>Microchip? <%= @pet.micro_chip %></p>
<p>Description: <%= @pet.description %></p> 
