<p>Pet's name: <%= @pet.name %></p>
<p>Type of animal: <%= @pet.animal %></p>
<p>Breed of pet: <%= @pet.breed %></p>
<p>Size: <%= @pet.size %></p>
<p>Weight: <%= @pet.weight %></p>
<p>Microchip? <%= @pet.micro_chip %></p>
<p>Description: <%= @pet.description %></p>
