
                                

<p>Pet's name: <%= @pet.name %></p>
<p>Type of animal: <%= @pet.animal %></p>
<p>Breed of pet: <%= @pet.breed %></p>
<p>Size: <%= @pet.size %></p>
<p>Weight: <%= @pet.weight %></p>
<p>Microchip? <%= @pet.micro_chip %></p>
<p>Description: <%= @pet.description %></p>  
<p>Photo: <%= image_tag (@pet.image) %></p>  
<h4><%= link_to "Delete", "/pets/#{@pet.id}", method: :delete %></h4>

    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Search Lost Or Found Pet Ads.</h3>
                    <a href="/pets/?status=found" class="btn btn-lg btn-light">Search Found Pets</a>
                    <a href="/pets/?status=lost" class="btn btn-lg btn-dark">Search Lost Pets</a>
                </div>
            </div>
        </div>
    </aside>